
.qr{
    width: 10x;
  padding: 100px;
}
:root {
  --ion-color-secondary: #fcfcfc;
  --ion-color-secondary-rgb: 0,102,0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #ffffff;
  --ion-color-secondary-tint: #ffffff;
}