<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form action="action_page.php" method="post">
  <div class="cont">
    <div class="imgcontainer">
    <img src="./assets/hello.png" class="avatar"/>
  </div>

  </div>
  

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <button (click)="signup()">Sign-up</button>
    
  </div>

  
</form>
</ion-content>
