<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="cont">
    <div class="imgcontainer">
    <img src="./assets/hello.png" class="avatar"/>
  </div>

  </div>
  
<form #f="ngForm" (ngSubmit)="onSubmit(f)" >
  <div class="container">
    <label for="uname"><b>Email</b></label>
    <input ngModel type="text" placeholder="Enter Username" name="email"  #email required>

    <label for="psw"><b>Password</b></label>
    <input ngModel type="password" placeholder="Enter Password" name="psw"  #psw required>

    <button type="submit" >Login</button>
    <button type="button" (click)="signup()">Sign-up</button>
    
  </div>

  
</form>
</ion-content>
