<ion-tabs>

   <ion-tab-bar slot="bottom" color="danger">
    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  <ion-tab-button tab="main">
    <ion-icon name="locate-outline"></ion-icon>
    <ion-label>Main</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="statistics">
    <ion-icon name="bar-chart-outline"></ion-icon>
    <ion-label>statistics</ion-label>
  </ion-tab-button>


  <ion-tab-button tab="alerts">
    <ion-icon name="alert-outline"></ion-icon>
    <ion-label>Alerts</ion-label>
  </ion-tab-button>
</ion-tab-bar>

 
</ion-tabs>

