.alert{
color: black;
 font-size: 18px; 
 font: lato; 
 margin-left: 80px; 
 margin-bottom: 5%; 
margin-top: 5%;
padding: 20px;
border-left: 1px solid black;

}
.box{
    background-color: white;
    margin: 0%;
}
.icon{
    // margin-left: 10px;
    font-size: 80px;
    color: rgba(189, 32, 37, 1);
}